<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491902988523-jbijovho0jrndh43ni52lhpgqqkf9ta9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491902988523-jbijovho0jrndh43ni52lhpgqqkf9ta9</string>
	<key>API_KEY</key>
	<string>AIzaSyCZmIDBp4HMG8GuExmYFaO3NKfeIb5sqlg</string>
	<key>GCM_SENDER_ID</key>
	<string>491902988523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evee</string>
	<key>PROJECT_ID</key>
	<string>evee-survey-administration-app</string>
	<key>STORAGE_BUCKET</key>
	<string>evee-survey-administration-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491902988523:ios:eea1f9475dfc17a6bb0eae</string>
</dict>
</plist>